.wrapper {
    width: 1600px;
    min-height: 100%;
    margin: 0 auto;
}

header {
    height: 95px;
}

h1 {
    padding-top: 90px;
    color: #ffffff;
    text-align: center;
    font-size: 85px;
    font-family: "Roboto", sans-serif;
}

.header_h1 {
    visibility: hidden;
}

.navbar ul {
    padding: 25px 514px 25px 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: white;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}

.navbar ul li:first-child a:first-child {
    border-bottom: 1px #ffffff solid;
    opacity: 1;
}

.navbar ul li:hover a:hover {
    border-bottom: 1px #00afdb solid;
    opacity: 1;
    color: #00afdb;
}

.logo {
    padding: 0 9px 0 36px;
    margin: 0 0px 0 -32px;
}

.your_life {
    height: 744px;
    background: url("/assets/bg-image-wrapper.png") center center/cover no-repeat;
    margin-top: -95px;
}

.your_life .your_life_title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 61px;
    padding-left: 5px;
}

.your_life .your_life_subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    margin-top: 27px;
    letter-spacing: 0.22px;
  }

.your_life .your_life_button {
    display: flex;
    flex-direction: row;
    padding: 15px 48px 12px 46px;
    margin: 28px auto 0px auto;
    cursor: pointer;
    border: 1px solid white;
    background: #00AFDB;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
}

.your_life .your_life_button:hover {
    background: transparent;
    transition: 0.5s;
	border: 1px solid white;
}

.your_life .your_life_social {
    display: flex;
    justify-content: space-between;
    margin: 182px 715px;
  }

.your_life .your_life_social a:hover {
    border-radius: 100%;
    display: flex;
    transition: 0.8s all;
}

.rappresent {
    max-height: 842px;
    padding: 120px 270px 140px 268px;
  }

.rappresent .rappresent_block {
    display: flex;
    justify-content: space-between;
}

.rappresent .rappresent_block .rappresent_block_text {
    width: 407px;
    height: 233px;
    margin-top: 174px;
}

.rappresent .rappresent_block .rappresent_block_text .rappresent_title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    width: 93%;
}

.rappresent .rappresent_block .rappresent_block_text .rappresent_subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4e4e4e;
    padding: 21px 0 29px 0;
    letter-spacing: 0.2px;
}

.rappresent .rappresent_block .rappresent_block_text .rappresent_btn {
    display: flex;
    flex-direction: row;
    padding: 15px 47px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #00AFDB;
    border: 1px solid white;
    margin: -1px 0 0 -1px;
}

.rappresent .rappresent_block .rappresent_block_text .rappresent_btn:hover {
    background: transparent;
    transition: 0.5s;
    border: 1px solid black;
    color: black;
}

.community {
    max-height: 504px;
    padding: 79px 0px 140px 269px;
    background: #F5F6F7;
}

.community_wrapper {
    display: flex;
    justify-content: space-between;
}

.community_block {
    height: 175px;
    width: 298px;
    margin-top: 76px;
}

.community_wrapper .community_block img {
    margin: -3px 0 0 127px;
  }

.community_wrapper .community_block .community_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-align: center;
    margin: 17px 0 0 1px;
}

.community_wrapper .community_block .community_subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    color: #4E4E4E;
    text-align: center;
    margin-top: 11px;
    letter-spacing: 0.2px;
}

.community_wrapper .community_slider .community_slick {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0px 19px 276px;
}

.community_wrapper .community_slider .community_slick .number {
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0 6px 0 11px;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 4.3px;
}

.community_wrapper .community_slider .community_slick i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transition: 0.5s all;
}

.community_wrapper .community_slider .community_slick i:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

.community_wrapper .community_slider .community_slick .arrow_left {
    transform: rotate(135deg);
    padding-right: 2px;
}

.community_wrapper .community_slider .community_slick .arrow_right {
    transform: rotate(-45deg);
    padding-left: 2px;
}

.community_wrapper .community_slider .community_image {
    display: flex;
    max-width: 894px;
    max-height: 244px;
}

.community_wrapper .community_slider .community_image img {
    padding-right: 30px;
}

.community_wrapper .community_slider .community_image img:nth-child(2) {
    padding-right: 25px;
}

.community_wrapper .community_slider .community_image .slider-3 img {
    height: 244px;
    padding-left: 5px;
}

.community_wrapper .community_slider .community_image .slider-3 {
    overflow: hidden;
}

.implement {
    height: 842px;
    padding: 120px 378px 140px 268px;
}

.implement .implement_wrapper {
    display: flex;
    justify-content: space-between;
  }

.implement_block {
    width: 407px;
    height: 184px;
    margin-top: 199px;
}

.implement .implement_block .implement_block_text .implement_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

.implement .implement_block .implement_block_text .implement_subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #4E4E4E;
    line-height: 149%;
    margin-top: 22px;
    letter-spacing: 0.1868px;
}

.implement .implement_wrapper .implement_block .implement_btn {
    display: flex;
    flex-direction: row;
    padding: 15px 47px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #00AFDB;
    border: 1px solid white;
    margin: 28px 0 0 -1px;
}

.implement .implement_wrapper .implement_block .implement_btn:hover {
    background: transparent;
    transition: 0.5s;
    border: 1px solid black;
    color: black;
}