body {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/bg-image-wrapper.png');
    background-size: cover;
}

.header {
    height: 95px;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 480px;
    margin: 38px 38px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: white;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
  
}

.navbar ul li a:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    transition: 0.5s;
    padding: 3px;
    opacity: 1;
}

.logo {
    margin: -15px 20px 13px;
}

.logo h1 {
    opacity: 0;
    text-align: center;
    color: #fff;
    transition: .5s ease;
  }
  
.logo:hover h1 {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 100px auto 0px auto;
}

.header_subtitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    width: 35%;
    margin: 20px auto 0px auto;
}

.get_started button{
    display: flex;
    flex-direction: row;
    padding: 15px 47px;
    margin: 30px auto 0px auto;
    cursor: pointer;
    border: 1px solid white;
    background: #00AFDB;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
}
.get_started button:hover {
    background: transparent;
    transition: 0.5s;
	border: 1px solid white;
}


.socials {
    width: 170px;
    margin: 183px auto 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}