body {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/bg-image-wrapper.png');
    background-size: cover;
}

.header{
    height: 95px;
    background: tomato;
    
}

.navbar ul {
    display: flex;
}

.navbar ul li a{
    display: flex;
    text-decoration: underline;
    font-weight: 600;
    color: white;
    align-items: center;
    justify-content: space-between;
}